@import "compass";

.entity-splash-offer,
.ui-dialog .entity-splash-offer {
  display: none;
  width: 600px;
  height: 600px;
  padding: 0;
  text-align: center;
  font-size: 34px;
  line-height: 1.5em;
  .buttons {
    margin-top: 1.5em;
    a {
      margin: 0 10px;
    }
  }
  .cookie-alert {
    font-size: 10px;
    label {
      display: inline;
    }
  }
  @media only screen and (max-width: 479px) {
    width: 300px;
    height: 300px;
    font-size: 18px;
  }
}

.splash-offer-dialog {
  .ui-dialog-titlebar {
    display: none;
  }
  .ui-dialog-buttonpane {
    border: none;
  }
}
